@import "../../../styles/breakpoints";

.section-category {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  transform: translateY(10rem);
  opacity: 0;
  transition: all 1s;
  .heading {
    margin-bottom: 3rem;
    font-family: "Montserrat", sans-serif;
    font-size: 2.6rem;
    @include sm {
      font-size: 2.2rem;
    }
    @include xs {
      font-size: 1.8rem;
    }
  }
}

.animate {
  transform: translateY(0);
  opacity: 1;
}
