@import "../../../../styles/variables";
.filter-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 0 1.6rem;
  height: 6.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: $color-grey-extra-dark;
  transition: all 0.2s;
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color-primary, 0.4);
    border-radius: 100px;
    height: 80%;
    aspect-ratio: 1/1;
  }
  &:hover {
    box-shadow: $shadow-secondary;
    transform: translateY(-5px);
  }
}
