@import "../../../styles/breakpoints";
.section-meetup-tomorrow {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  padding-bottom: 5rem;
  .heading {
    margin-bottom: 3rem;
    font-family: "Montserrat", sans-serif;
    font-size: 2.6rem;
    @include sm {
      font-size: 2.2rem;
    }
    @include xs {
      font-size: 1.8rem;
    }
  }
}
