@import "../../styles/variables";
@import "../../styles/breakpoints";
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 4;
  position: fixed;
  top: 0;
  transition: 0.4s all;
  width: 100%;
  .nav-actions {
    animation: showUp 0.4s;
  }
}

.dropdown {
  position: relative;
  color: $color-grey;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 700;
  transition: color 0.2s;
  font-family: "Inter", sans-serif;
  margin-right: 4rem;

  &:hover {
    color: $color-black;
    .dropdown-list {
      display: block;
    }
  }
  .dropdown-list {
    position: absolute;
    display: none;
    background-color: $color-white;
    top: 2rem;
    padding: 1rem 0;
    width: 13rem;
    box-shadow: $shadow-secondary;
    .dropdown-item {
      padding: 0.4rem 1rem;
      a {
        color: $color-grey;
        cursor: pointer;
        font-size: 1.3rem;
        font-weight: 700;
        transition: color 0.2s;
        font-family: "Inter", sans-serif;
      }

      a:hover {
        color: $color-black;
      }
    }
  }
}
.logo {
  width: 4rem;
  height: 4rem;
  position: relative;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  animation: showUp 0.4s;
  @include xs {
    display: none;
  }
}

@keyframes showUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-link {
  margin-right: 4rem;

  a {
    color: $color-grey;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 700;
    transition: color 0.2s;
    font-family: "Inter", sans-serif;
  }
  a:hover {
    color: $color-black;
  }
}

.login-btn {
  border: 1px solid $color-primary;
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 1.3rem;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  transition: all 0.2s;
  margin-left: 1rem;
  color: $color-white;
  border-radius: 3px;
  &:hover {
    border: 1px solid lighten($color: $color-primary, $amount: 10%);
  }
}

.ham-profile {
  display: none;
  @include xs {
    display: flex;
    align-items: center;
  }
  .hamburger {
    margin-left: 1rem;
  }
}
.profile-picture {
  position: relative;
  height: 4rem;
  width: 4rem;
  border-radius: 100px;
  overflow: hidden;
}

.add-background {
  background-color: $color-white;
  box-shadow: $shadow-primary;
}

.color-black {
  color: $color-black;
  &:hover {
    background-color: lighten($color: $color-primary, $amount: 40%);
  }
}
