@import "../../../styles/breakpoints";
.section-meetup {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;

  .content {
    height: 45rem;
    @include xl {
      height: 50rem;
    }
    @include sm {
      width: 80%;
      margin: 0 auto;
    }
    @include xs {
      width: 95%;
    }
  }
  // padding-bottom: 5rem;
  .heading {
    margin-bottom: 3rem;
    font-family: "Montserrat", sans-serif;
    font-size: 2.6rem;
    @include sm {
      font-size: 2.2rem;
    }
    @include xs {
      font-size: 1.8rem;
    }
  }
}
