@import "../../../styles/variables";
@import "../../../styles/breakpoints";
.form-container {
  display: flex;
  justify-content: center;
}
.form {
  margin-top: 4rem;
  padding: 4rem 6rem;
  width: 35%;
  background-color: $color-white;
  box-shadow: $shadow-secondary;
  max-width: 80rem;
  position: relative;

  @include xxl {
    width: 50%;
  }
  @include xl {
    width: 60%;
  }
  @include lg {
    width: 70%;
  }
  @include md {
    padding: 3rem 4rem;
    width: 80%;
  }
  @include sm {
    padding: 3rem 4rem;
    width: 90%;
  }

  @include xs {
    padding: 2rem 2rem;
    width: 95%;
  }
  .button {
    width: 100%;
  }
}

.flex {
  display: flex;
  @include sm {
    flex-direction: column;
  }
}

.w-set {
  width: 50%;
  @include sm {
    width: 100%;
  }
}
