@import "../../../styles/breakpoints";
.meetups-loader {
  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @include sm {
    //21.37rem is the height of the navbar and the filter bar combined on "sm" screen size
    top: 3rem;
  }
}
