@import "../../styles/variables";
// @import "../Navbar/Navbar.module.scss";

.side-nav {
  z-index: 5;
  position: fixed;
  background-color: $color-white;
  padding: 1rem 2rem;
  top: 0;
  left: 0;
  height: 100%;
  width: 30rem;
  transition: transform 0.4s;
  transform: translateX(-100%);
}
.animate-side-nav {
  transform: translateX(0);
}
.nav-head {
  display: flex;
  justify-content: space-between;
  margin-top: 1.4rem;
  margin-bottom: 3rem;
}
.logo {
  width: 4rem;
  height: 4rem;
  position: relative;
  cursor: pointer;
}
.nav-link {
  padding: 1rem 0;
  margin: 0.5rem 0;
  border-bottom: 1px solid rgba($color-grey, 0.5);
  font-family: "Inter", sans-serif;
  a {
    color: $color-grey;
    transition: color 0.2s;
    font-size: 2rem;
  }
  a:hover {
    color: $color-black;
  }
}

.sign-out-btn {
  border: none;
  border-radius: 3px;
  background-color: rgba($color-red, 0.9);
  width: 100%;
  text-align: start;
  padding: 1.4rem 1rem;
  font-size: 1.8rem;
  color: $color-white;
  font-family: "Inter", sans-serif;
  margin-top: 1rem;
}
