@import "../../../../../styles/variables";
@import "../../../../../styles/breakpoints";
.title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  color: $color-grey-dark;
  margin-bottom: 1rem;

  @include xs {
    font-size: 2rem;
  }
}
.body {
  font-family: "Inter", sans-serif;
  color: darken($color-grey-light, 40%);
  line-height: 3rem;
  font-weight: 400;
  font-size: 1.8rem;
  overflow: hidden;
  @include sm {
    max-height: 17rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  @include xs {
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 12rem;
  }
}

.blockquote-icon {
  color: $color-primary;
}
