.big-testimonial {
  display: flex;
  width: 80%;
  justify-content: space-between;
  height: 32rem;
  transition: all 1s;
  transform: translateY(100px);
  opacity: 0;
}
.avatar-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-container {
  width: 60%;
}

.animate {
  transform: translateY(0);
  opacity: 1;
}
