@import "../../../styles/variables";
@import "../../../styles/breakpoints";
.description-section {
  margin-left: 15rem;
  margin-top: 2rem;
  width: 50%;
  padding: 4rem 2rem;
  border-radius: 3px;
  border: 1px solid $color-grey-light;
}

.heading {
  font-weight: 600;
  font-size: 2rem;
  color: $color-primary;
  margin-bottom: 1rem;
}
.description {
  font-size: 1.5rem;
  color: $color-grey-dark;
}
