@import "../../../styles/breakpoints";

.carousel-container {
  width: 80%;
  margin-top: 4rem;
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s;
  @include xl {
    width: 100%;
  }
  @include lg {
    margin: 2rem auto;
  }
}

.animate {
  transform: translateY(0);
  opacity: 1;
}
