@import "../../../styles/breakpoints";
.section-recommendation {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15rem;
  .heading {
    margin-bottom: 3rem;
    font-family: "Montserrat", sans-serif;
    font-size: 2.6rem;
    @include sm {
      font-size: 2.2rem;
    }
    @include xs {
      font-size: 1.8rem;
    }
  }
  .meetup-container {
    @include sm {
      overflow-y: scroll;
      height: 30rem;
    }
  }
}
