.section-recommendation {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15rem;
  .heading {
    margin-bottom: 3rem;
    font-family: "Montserrat", sans-serif;
    font-size: 2.6rem;
  }
}
